<h2 mat-dialog-title *ngIf="data.message">Error Checking In</h2>
<h2 mat-dialog-title *ngIf="data.user">Check-In {{data.user.firstName }}?</h2>
<mat-dialog-content class="mat-typography">
  <p *ngIf="data.user">Do you want to check-in {{ data.user.firstName }} {{data.user.lastName}} ({{ data.user.email }})</p>
    <p><strong *ngIf="isUserMinor(data.user.dateOfBirth)">Under 18</strong></p>
    <p><strong *ngIf="data.user.confirmedAttendance1 == 'false' || !data.user.confirmedAttendance1">Did not confirm attendance.</strong></p>
  <p *ngIf="data.message">{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="data.user" cdkFocusInitial *ngIf="data.user">Check-In</button>
</mat-dialog-actions>
