canvas {
    width: 100%;
    height: 93%;
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 7%;
}
#closeButton {
    color: wheat;
    position: absolute;
    z-index: 10000;
    right: 1%;
    top: 2%;
    cursor: pointer;
}
